* {
  box-sizing: border-box;
}

.input {
  --border-color: hsl(0, 0%, 70%);

  padding: 0.4em;
  margin: 3px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  font-size: inherit;
}

.input:focus {
  --border-color: hsl(199, 100%, 60%);
  box-shadow: 0 0 5px 0 var(--border-color);
}

.success {
  --border-color: hsl(124, 70%, 40%);
}

.success:focus {
  --border-color: hsl(124, 70%, 60%);
}

.error {
  --border-color: hsl(0, 70%, 40%);
}

.error:focus {
  --border-color: hsl(0, 70%, 60%);
}

.large {
  font-size: 1.1rem;
}

.small {
  font-size: 0.6rem;
}

.input:disabled {
  background-color: hsl(0, 0%, 90%);
}
